<div class="">

  <div class="page-title">
    <div class="title_left">
      <h3>Atuadores</h3>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="col-md-12">
    <div class="x_content">
      <div class="row">

        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="tile-stats">
            <!-- <div class="icon"><i class="fa fa-caret-square-o-right"></i>
            </div> -->

            <br>
            <h3><a class="title">Irrigação</a></h3>
            <div class="count">
              <button ng-if="$ctrl.irrigacao == true" ng-click="$ctrl.onIrrigacaoChange(false)" class="btn btn-success">Desligar</button>
              <button ng-if="$ctrl.irrigacao == false" ng-click="$ctrl.onIrrigacaoChange(true)" class="btn btn-success">Ligar</button>
            </div>
            <p>Válvula de irrigação</p>
          </div>
        </div>

         <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="tile-stats">
            <!-- <div class="icon"><i class="fa fa-caret-square-o-right"></i>
            </div> -->

            <br>
            <h3><a class="title">Ventilação</a></h3>
            <div class="count">
              <button ng-if="$ctrl.ventilacao == true" ng-click="$ctrl.onVentilacaoChange(false)" class="btn btn-success">Desligar</button>
              <button ng-if="$ctrl.ventilacao == false" ng-click="$ctrl.onVentilacaoChange(true)" class="btn btn-success">Ligar</button>
            </div>
            <p>Ventiladores internos</p>
          </div>
        </div>

        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="tile-stats">
            <!-- <div class="icon"><i class="fa fa-caret-square-o-right"></i>
            </div> -->

            <br>
            <h3><a class="title">Iluminação</a></h3>
            <div class="count">
              <button ng-if="$ctrl.lampada == true" ng-click="$ctrl.onLampadaChange(false)" class="btn btn-success">Desligar</button>
              <button ng-if="$ctrl.lampada == false" ng-click="$ctrl.onLampadaChange(true)" class="btn btn-success">Ligar</button>
            </div>
            <p>Iluminação interna</p>
          </div>
        </div>

      </div>

      <div style="margin-bottom: 20px;" class="row col-lg-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 0">
          <!--<img src= "http://{{$ctrl.raspIp}}:8081/?action=stream" width="320" height="240"/>-->
        </div>
      </div>

    </div>
  </div>

</div>
